<section>
  <h2>Habilidades</h2>
  <label for="vitality">{{localize "MAVEN_SHEET.vitality"}}</label>
  <input
    name="system.abilities.vitality"
    id="vitality"
    type="number"
    value="{{system.abilities.vitality}}"
  />

  <label for="composure">{{localize "MAVEN_SHEET.composure"}}</label>
  <input
    name="system.abilities.composure"
    id="composure"
    type="number"
    value="{{system.abilities.composure}}"
  />

  <label for="reason">{{localize "MAVEN_SHEET.reason"}}</label>
  <input
    name="system.abilities.reason"
    id="reason"
    type="number"
    value="{{system.abilities.reason}}"
  />
  <label for="presence">{{localize "MAVEN_SHEET.presence"}}</label>
  <input
    name="system.abilities.presence"
    id="presence"
    type="number"
    value="{{system.abilities.presence}}"
  />
  <label for="sensitivity">{{localize "MAVEN_SHEET.sensitivity"}}</label>
  <input
    name="system.abilities.sensitivity"
    id="sensitivity"
    type="number"
    value="{{system.abilities.sensitivity}}"
  />
</section>