<section>
  <h2>Habilidades</h2>
  <div class="abilities">
    {{#each system.abilities as |ability|}}
      <div class="ability">
        <label for="{{@key}}">{{localize @key}}</label>
        <input
          name="system.abilities.{{@key}}"
          id="{{@key}}"
          type="number"
          max="3"
          min="-3"
          value="{{ability}}"
        />
        <i
          class="fa-duotone fa-dice rollable"
          style="--fa-secondary-color: #cccccc; --fa-secondary-opacity: 1;"
          data-roll="{{../system.selectedRollType}}+{{ability}}"
          data-label={{localize @key}}
        ></i>
      </div>
    {{/each}}
    <div class="roll-modifiers">
      <label>Mod</label>
      {{#each rollModifiers.rollTypes as |rollType|}}
        <div class="roll-type">
          <input
            class="advantage-mod"
            id="{{rollType.label}}"
            type="radio"
            value="{{rollType.value}}"
            {{#when ../system.selectedRollType "eq" rollType.value }}
            checked
            {{/when}}
          />
          <label for="{{rollType.label}}">{{rollType.label}}</label>
        </div>
      {{/each}}
    </div>
  </div>
</section>