<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
  {{! Sheet Header }}
  <header class="sheet-header">
    {{! Header stuff goes here }}
    <img
      class="profile-img"
      src="{{actor.img}}"
      data-edit="img"
      title="{{actor.name}}"
      height="100"
      width="100"
    />
    <div class="header-fields">
      <h1 class="charname">
        <input
          name="name"
          type="text"
          value="{{actor.name}}"
          placeholder="Name"
        />
      </h1>
    </div>
  </header>

  {{! Sheet Body }}
  <section>
    <label for="style">{{localize "MAVEN_SHEET.style"}}</label>
    <input
      id="style"
      name="system.style"
      type="text"
      value="{{system.style}}"
      placeholder="A la moda, Jackie O, Boutique de alta costura, etc."
    />

    <label for="activity">{{localize "MAVEN_SHEET.activity"}}</label>
    <input
      name="system.activity"
      id="activity"
      type="text"
      value="{{system.activity}}"
      placeholder="Bordar, cocinar tortas, jardinería, etc."
    />
  </section>
  <section>
    <h2>Habilidades</h2>
    <label for="vitality">{{localize "MAVEN_SHEET.vitality"}}</label>
    <input
      name="system.abilities.vitality"
      type="number"
      value="{{system.abilities.vitality}}"
      id="vitality"
    />

    <label for="composure">{{localize "MAVEN_SHEET.composure"}}</label>
    <input
      name="system.abilities.composure"
      id="composure"
      type="number"
      value="{{system.abilities.composure}}"
    />

    <label for="reason">{{localize "MAVEN_SHEET.reason"}}</label>
    <input
      name="system.abilities.reason"
      type="number"
      id="reason"
      value="{{system.abilities.reason}}"
    />
    <label for="presence">{{localize "MAVEN_SHEET.presence"}}</label>
    <input
      name="system.abilities.presence"
      type="number"
      value="{{system.abilities.presence}}"
      id="presence"
    />
    <label for="sensitivity">{{localize "MAVEN_SHEET.sensitivity"}}</label>
    <input
      name="system.abilities.sensitivity"
      type="number"
      value="{{system.abilities.sensitivity}}"
      id="sensitivity"
    />
  </section>
  <section class="experience">
    <h2>{{localize "MAVEN_SHEET.experience"}}</h2>
    <div class="experience-control">
      {{#times system.experience.value}}
        <i class="fa-solid fa-square-check"></i>
      {{/times}}
      {{#times system.missingExperience}}
        <i class="fa-regular fa-square"></i>
      {{/times}}
    </div>
  </section>
</form>