<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
  {{! Sheet Header }}
  <header class="sheet-header">
    {{! Header stuff goes here }}
    <img
      class="profile-img"
      src="{{actor.img}}"
      data-edit="img"
      title="{{actor.name}}"
      height="100"
      width="100"
    />
    <div class="header-fields">
      <h1 class="charname">
        <input
          name="name"
          type="text"
          value="{{actor.name}}"
          placeholder="Name"
        />
      </h1>
    </div>
  </header>

  {{! Sheet Body }}
  <section>
    <label for="style">{{localize "MAVEN_SHEET.style"}}</label>
    <input
      id="style"
      name="system.style"
      type="text"
      value="{{system.style}}"
      placeholder="A la moda, Jackie O, Boutique de alta costura, etc."
    />

    <label for="activity">{{localize "MAVEN_SHEET.activity"}}</label>
    <input
      name="system.activity"
      id="activity"
      type="text"
      value="{{system.activity}}"
      placeholder="Bordar, cocinar tortas, jardinería, etc."
    />
  </section>
  {{> systems/brindlewood-bay/src/Actors/Maven/partials/abilities.hbs}}
  {{> systems/brindlewood-bay/src/Actors/Maven/partials/experience.hbs}}
  {{> systems/brindlewood-bay/src/Actors/Maven/partials/conditions.hbs}}
</form>